<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img style="position: relative; top: -10px" height="50px" width="50px" src="~/images/icon.png" /></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chủ đề<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Tin học đại cương</li>
                            <li><a href="#">[TIN1013]Khối tự nhiên <span class="badge">42</span></a></li>
                            <li><a href="#">[TIN1023]Khối xã hội</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nguyên lý</li>
                            <li><a href="#">Kỹ nghệ phần mềm</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Lập trình nâng cao</li>
                            <li><a href="#">Di động</a></li>
                            <li><a href="#">Web</a></li>
                            <li><a href="#">Desktop</a></li>

                        </ul>
                    </li>
                    <li><a href="service.html">Dịch vụ</a></li>
                    <li><a href="#">Thông báo</a></li>
                    <li><a href="about.html">Thông tin</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" />
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
                <p class="navbar-text navbar-right">Xin chào: <a href="#" class="navbar-link">Nguyễn Dũng</a></p>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="register.html">Đăng ký</a></li>
                    <li><a href="signin.html">Đăng nhập</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>


    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <hr class="featurette-divider" style="margin: 0px">
    <footer>
        <p class="pull-right"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-up"></span>Lên đầu trang</a></p>
        <p>&copy; 2014 Dblog studio</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/bootstrap");
        @RenderSection("scripts", required: false)
</body>
</html>
