<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Admin/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/bootstrap")
    <script src="~/Scripts/script.js" type="text/javascript" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>
        $(function () {
            $("#loading").bind("ajaxStart", function () {
                $(this).show();
            }).bind("ajaxComplete", function () {
                $(this).hide();
            });
        });
    </script>
</head>
<body>
    @RenderSection("scripts", required: false)
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">DblogStudio</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#">Analytics traffic</a></li>
                    <li><a href="#">Users</a>
                        <ul>
                            <li>@Html.ActionLink("Quản lý User", "UserManage", "Admin")</li>
                            <li>@Html.ActionLink("User và Role", "RoleManage", "Admin")</li>
                        </ul>
                    </li>
                    <li><a href="#">Roles</a>
                        <ul>
                            <li>@Html.ActionLink("Quản lý Role", "RoleManage", "Admin")</li>
                            <li>@Html.ActionLink("Role và User", "RoleManage", "Admin")</li>
                        </ul>
                    </li>
                </ul>
                <hr class="featurette-divider" style="margin: 0px">
                <ul class="nav nav-sidebar">
                    <li><a href="">Quản lý chủ đề</a></li>
                    <li><a href="">Quản lý bài viết</a></li>
                    <li><a href="">Quản lý thông báo</a></li>
                    <li><a href="">Quản lý slide ảnh</a></li>
                </ul>
            </div>
            <div id="mainContent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
